/* Start Global */
 *
 {
 	padding: 0;
 	margin: 0;	
 	box-sizing: border-box ;		
}
.clear { clear: both; }
/* End Global */ 
 
/* //////////////////////////////////////////////// */

/* Start Header */
.super_container
{
	width: 100%;	
	font-family: 'Roboto', sans-serif;
	display: block;
	position: absolute;
}
.header
{
	top: 3%;
	left: 0;
	width: 100%;	
}
.top_bar
{
	width: 100%;
	height: 80px;
	background-color: #c584a7;
	color: #FFFFFF;
	position: relative;
}
.top_bar .sword 
{ 
	height: 45px; 
	padding: 8px 0px 0 100px;
	margin-top: 15px; 
	margin-right: 5px;
	float: left;
}
.bonfire
{
	margin: 0 15px 0 0px ; 
	font-size: 30px;
	line-height: 80px;
	float: left;
	font-family: Andalus;
}
.lights
{
	padding: 32px 30px 0 0;
	font-family: Papyrus;
	float: left;
}
.wishlist
{
	width: 700px;
	margin: 32px 30px;
	font-size: 15px;
	font-family: Perpetua;
	letter-spacing: 2px;
	position: relative;
	float: right;
}
.component
{	
	padding: 0 10px;
	float: left;
	text-transform: uppercase;
}

/* Start Navigation bar */ 
.house
{
	height: 70px;
	margin-left: 80px;
	margin-right: -35px;
	float: left;
}
nav{ background-color: #f0dee4; height: 75px; }
ul {
    overflow: hidden;
    margin: 0px 40px;
    font-family: Arial ;
    font-weight: bold;
    line-height: 45px;
}
li  
{
	float: left;
    display: block;
    color: #4d0c29;
    text-align: center;
    padding: 14px 28px;
    font-size: 15px;
}
/* //////////////////////////////////////////////// */

.bar
{
	width: 100%;
	height: 75px;
	font-size: 15px;
	line-height: 75px;
	background-color: #f8f1f2;
	color: #4d0c29;
	position: relative;
}
.welcome
{
	float: left;
	margin-left: 100px;
}
.contact
{}
.left {margin-left: 300px;}
.wifi 
{
	height: 13px;
	margin-top: 30px;
	margin-right: 10px;
	float: left;
}
.facebook
{
	height: 25px;
	margin-top: 25px;
	margin-right: 10px;
	float: left;
}
.instagram
{
	height: 19px;
	margin-top: 28px;
	margin-right: 10px;
	float: left;
}
.Cash
{
	width: 120px;
	height: 30px;
	margin: 20px;
	border: 0;
	border-radius: 3px;
	float: left;
	background: #ffffff;
	color: #4d0c29;
}
.search
{
	width: 300px;
	height: 30px;
	background-color: #ffffff;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	line-height: 10px;
	color: #4d0c29; 
	font-family: Segoe Print ;
	font-size: 13px;
	float: left;
}
.search_icon { float: right; height: 30px; margin: -10px 0px 75px 0px}
.container
{
    position: relative;
    text-align: center;  
}
.welcome_img 
{
	width: 80%;
	display : block;
	margin: 20px 30px 50px 130px;
}
.childish
{
	width: 80%;
	height: 70px;
	top: 93.9%;
	left: 9.7%;
	background: #4d0c29;
	position: absolute;
	border-radius: 4px;
}
.bottom
{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.dot 
{
    height: 13px;
    width: 13px;
    border: 2px solid #e7cb9a;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
}
.fill { background-color: #e7cb9a; }
.available
{
	margin: 25px 0 0 300px;
	color: #e7cb9a;
	font-size: 19px;
	font-family: Perpetua;
}
.purchase
{
	background: #9f8f68;
	margin: -30px 20px 0 400px;
	color: #4d0c29;
}
.comman
{
	width: 80px;
	height: 40px;
	position: absolute;
	border: 0;
	border-radius: 4px;
	font-size: 15px;
	font-family: Perpetua;
	text-transform: uppercase;
}
.purchase2
{
	background: #4d0c29;
	margin: -98px 20px 10px 550px;
	color: white;
}

/* //////////////////////////////////////////////// */

.feature
{
	font-family: Perpetua;
	text-transform: uppercase;
	color: #9f8f68;
	margin-left: 130px;
	margin-top: -5px;
	float: left;
}
.line
{
	width: 72.5%;
	height: 2px;
	background: #9f8f68;
	margin-left: 230px;
	margin-bottom: 2px;
}
.brands
{
	width: 250px;
	height: 200px;
	border-radius: 5px;
	margin: 10px 10px 0px 60px;
	float: left;
}
.logo { margin-left: 100px; }
.brand_photo { width: 60%; }
.top { margin-top: 20px; }
/* //////////////////////////////////////////////// */

.package
{
	padding: 5px;
	margin: 20px 0;
}
.photo
{
	background-color: #f4ebcd;
	width: 250px;
	height: 300px;
	border-radius: 3px;
	margin-left: 25px;
	display: flex;
	display: inline-block;
}
.word_photo
{
	position: relative;
}
.wide { margin-left: 120px; }
.movie_photo
{
	width: 95%;
	height: 205px;
	padding: 10px 0px 5px 15px;
	border-radius: 5px solid #f4ebcd;
}
.compare
{
	background: #9f8f68;
	color: #4d0c29;
	width: 140px;
	height: 40px;
	left: 20%;
	top: 20%;
	margin: 8px 15px;
	border: 0;
	border-radius: 2px;
	font-size: 15px;
	font-family: Perpetua;
	text-transform: uppercase;
	position: absolute;
}
.wish
{
	background: #9f8f68;
	color: #4d0c29;
	width: 140px;
	height: 40px;
	left: 20%;
	top: 40%;
	margin: 8px 15px;
	border: 0;
	border-radius: 2px;
	font-size: 15px;
	font-family: Perpetua;
	text-transform: uppercase;
	position: absolute;
}
.comment { margin: 5px 5px 5px 18px; color: #4d0c29;}
.cart
{
	background: #9f8f68;
	color: #4d0c29;
	width: 120px;
	height: 40px;
	margin: 8px 15px;
	border: 0;
	border-radius: 4px;
	font-size: 15px;
	font-family: Perpetua;
	text-transform: uppercase;
}
.relate
{
	width: 15px;
	height: 40px;
	background: #9f8f68;
	color: #4d0c29;
	margin-top: -48px;
	padding: 0 3px;
	line-height: 40px;
	border-radius: 4px;
	float: left;
}
.coin { margin-left: 180px; }
.price1 {margin-left: 195px;}
.price2 {margin-left: 210px;}

.num 
{
	display: flex;
	flex-wrap: nowrap;
	margin-left: 130px;
	margin-bottom: 30px;
}
.num > div 
{
	width: 30px; 
	line-height: 30px;
	text-align: center;
	margin: 10px 8px;
	border-radius: 2px;
}
.one {  background-color: #4d0c29; color: #9f8f68; }
.two {  background-color: #9f8f68; color: #4d0c29; }
/* //////////////////////////////////////////////// */

.suspend
{
	background-color: #f4ebcd;
	font-family: Arial;
	height: 210px;
	display: flex;
}
.sed 
{
	width: 450px;
	padding: 40px 30px ;
	margin: 0px 0px 20px 0px;
}
.house2
{
	height: 70px;
	margin-top: -20px;
	float: left;
}
.about_us
{
	background-color: #121212;
	font-family: Arial;
	height: 270px;
	display: flex;
}
.aboutus
{
	width: 250px;
	padding: 40px 10px ;
	margin: 0px 30px 20px 40px;
}

.sed p { margin-left: 80px; margin-top: -20px;  color: #9f8f68;}
.aboutus p { margin-top: 10px;  color: #9f8f68; }
#about { color: #f4ebcd; font-size: 20px;}
#suspendisse { color: #121212; font-size: 20px;}
#info 
{ 
	margin: 20px 0px 0px 0px ; 
	color: #9f8f68;
	line-height: 3px;
}
/* //////////////////////////////////////////////// */
/* Start Footer */
footer 
{
	background-color: #4b4b4b;
	color: #9f8f68;
	padding: 20px;
	height: 60px;
	font-family: Arial;
}
.foot_left { float: left; margin: 0px 50px 20px ;}
.foot_right { float: right; margin: 0px 80px; }
/* End Footer */